main {
  display: flex;
  flex-direction: column;
}

.board {
  display: flex;
  flex-wrap: wrap;

  border-style: solid;
  width: 90vw;
  height: 85vh;
  margin: auto;
}

app-board-post {
  height: 200px;
}
